/* button {
    padding: 10px 20px;
    background-color: #61dafb;
    border: none;
    border-radius: 5px;
    color: rgb(22, 21, 21);
    cursor: pointer;
    font-size: 16px;
} */

/* 
.container{
    text-align: center;
    margin-top: 50px;
    padding: 20px;
   background-color: #d58bb1;
    border-radius: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    box-shadow: 0 4px 6px rgba(0,0,0,2.3);
    
}
.section{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;       
    gap: 20px;
    align-items: center;
    justify-content: center;
  
}
.section li{
    padding: 8px 12px;
    cursor: pointer;
  border-radius: 10px;
  transition: background-color 200ms ease, transform 150ms ease, box-shadow 200ms ease;
  -webkit-tap-highlight-color: transparent;
  box-shadow: 0 4px 6px rgba(0,0,0,0.9);
  font-weight: 500;
}
.section li a {
  color: inherit;;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.section li:hover {
  background-color: rgba(97, 218, 251, 0.12);
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0,0,0,2.3);
}

.section li:active {
  transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0,0,0,1.3);
  background-color: rgba(97, 218, 251, 0.16);
} */

.navbar{
  height:70px;
  width:100%;
  background-color:rgb(93, 93, 134);
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.logo
{
  height:70px;
  width:120px;
}

.menu-items{
  width:400px;
  display:flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 600;
  color:white;

}

.btn{
  padding:10px 20px;
  border-radius:8px;
  background-color: #18f43d;
  font-weight: 700;
}

.btn:hover{
  background-color: rgb(14,217,14);
}

.btn:active{
  background-color: #4370f5;
}
.joke{
  height:300px;
  width:300px;
  border:4px solid #a03a86;
  
  background-color: rgba(135, 56, 225, 0.836);
 
/* examples */
box-shadow: 0 4px 6px rgba(0,0,0,0.1);           /* simple shadow */
box-shadow: 5px 5px 15px rgba(0,0,0,0.3);        /* offset shadow */
box-shadow: 0 0 20px rgba(0,0,0,0.5);            /* glow effect */
box-shadow: inset 0 0 10px rgba(0,0,0,0.2);      /* inner shadow */
box-shadow: 0 4px 6px rgba(0,0,0,0.1), 
            0 10px 20px rgba(0,0,0,0.2);         /* multiple shadows */          /* simple shadow */

}
.profile{
  height: 300px;
  width:500px;
border: 2px soliid black;
background-color: rgba(43, 147, 173, 0.74)
}

.dashboard{
  height: 190px;
  width:200px;
border: 2px soliid black;
background-color:antiquewhite
}

.form{
  height: 325px;
  width: 400px;
  display:flex;
  flex-direction: column;
  color:black;
 border:2px solid black;
 margin-left: 35%;
 margin-top: 50px;
 border-radius: 15px;
 background-color: aliceblue;
}

.form input{
  height: 35px;
  width:90%;
  background-color:#a9c8e2 ;
  border-radius: 10px;
  border:transparent;
  color:black;
 margin-top: 25px;
 margin-left: 14px;
 font-weight: bold;
 font-size: 18px;
}

input:placeholder-shown{
 background-color: #fff8dc; /* light beige */
border: 2px solid orange;
font-style: italic;
}

.form button{
  height:35px;
  width: 95%;
  margin-left: 15px;
  margin-top: 15px;
  background-color: rgb(28, 14, 217);
  border-radius:15px;
  color:white;
  font-weight: bold;
}